// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.orbit-wrapper {
  text-align: center;
}
body {
  background-color: #EDEDED;
}
.placeholder {
  margin-right: 10px;
  margin-left: 10px;
}
